@use "./variables" as *;

@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $mobile) { @content; }
  } @else if $breakpoint == md {
    @media (min-width: $tablet) { @content; }
  } @else if $breakpoint == lg {
    @media (min-width: $desktop) { @content; }
  }
}

// $direction: "column" | "row"
@mixin flex($direction){
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}