@use "./variables" as *;
@use "./mixin" as *;
@use "./reset";

//  –––– typography –––– 
@font-face {
    font-family: "PlusJakartaSans";
    src: url("src/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf") format("truetype");
    font-weight: 500, 700;
}

h1 {
    font-size: 22px;
}

body{
    font-size: 16px;
    font-family: "PlusJakartaSans";
}

.txt-color{
    color: $slate-700;
}

.error{
    color: $red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}   

//  –––– LAYOUT ––––

.container{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-color: $slate-100;
}

main{
    background-color: $white;
}



//  –––– FORM –––– 

.form-section{
    height: 60%;
    @include flex(column);
    align-items: flex-start;
    padding: 20px;
    gap: 10px;  

}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__btn{
    padding: 10px 30px;
    background-color: $lime;
    border-radius: 50px;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: $slate-900;

}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input{
    padding: 12px 16px;
    // border-radius: 5px;
    // border: 1px solid $slate-500;
    width: inherit;
    font-weight: 700;
    background: none;
    border: none;
    &:focus{
        outline: none;
    }
}

label{
    width: inherit;
}

input[type="radio"] {
    width: fit-content;
}

// #TODO: change color
input:checked {
    accent-color: $lime;
}

.input-radio{
    gap: 15px;
    padding: 12px 16px;
    label {
        font-weight: 700;
    }
}

.input-section, .input-radio {
    display: inline-flex;
    align-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid $slate-500;
    width: 100%;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 15px;
}

.measure {
    font-weight: 700;
    background-color: $slate-100;
    padding: 12px 16px;
    color: hsl(200, 24%, 40%);
}



// –––– RESULT –––– 

.result{
    background-color: $slate-900;
    height: 40%;
    @include flex(column);
    padding: 20px;
    color: $white;
    gap: 20px;

    &__info{
        color: $slate-300;
        text-align: center;
    }
    &__label{
        color: $slate-300;
    }

    &__box {
        padding: $space-m;
        display: flex;
        flex-direction: column;
        gap: 15px;
        background: inherit;
        filter: contrast(1.2);
        border-radius: 12px;
        border-top: 4px solid $lime;
    }

    &__monthly{
        font-size: 40px;
        color: $lime;
        font-weight: 700;
    }

    &__total{
        font-size: 24px;
        color: $white;
        font-weight: 700;
    }
    hr{
        border: none;
        height: 1px;
        background-color: $slate-700;
        margin: 0;
    }
}



// –––––– HOVER AND FOCUS STATES ––––––

input, button {
    cursor: pointer;
}

.input-section:hover{
    border: 1px solid $slate-900;
}

.input-radio:hover{
    border: 1px solid $lime;
}
.input-radio:has(input:checked){
    border: 1px solid $lime;
    background-color: rgba($lime, 0.1);
}

.form__btn:hover{
    filter: brightness(2);
}

input[type="radio"] {
    appearance: none;
    width: 5px !important;
    height: auto;
    border: 2px solid #999;
    border-radius: 50%;
    padding: 10px;
}

input[type="radio"]:checked {
    border-color: rgba($lime, 0.1);
    background-color: $lime;
    box-shadow: inset 0 0 0 4px white;
}


.error-active{
    border: 1px solid $red !important;

    .measure{
        background-color: $red;
        color: $white;
    }

}


// –––– RESPONSIVE ––––

@include respond-to(md) {
    main {
        display: flex;
        width: max-content;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        overflow: hidden;
        box-shadow:  20px 15px 20px 0px rgba(0, 0, 0, 0.1);
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .result {
        border-bottom-left-radius: 60px;
        height: -webkit-fill-available;
        padding: $space-l;
        width: 500px;
        &__box{
            width: 100%;
        }

        &__monthly{
            font-size: 56px;
        }
    }

    .form-section{
        height: auto;
        padding: $space-l;
        gap: $space-m;      
        width: 500px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .form__group {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
        label {
            order: -1;
        }
    }


    .form__group p.error {
        order: 1;
    }

    .form__btn{
        width: fit-content;

    }

}